<main class='main-content bgc-grey-100'>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Tracking Session List</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" style="padding-top: 30px" *ngFor="let tracking of trackings ; let r =index">
                <div class="bdrs-3 ov-h bgc-white bd">
                    <div class=" ta-c p-30" [ngClass]="template.panel.header.bgc">
                        <h3 class="c-white">{{tracking.trackingId + ' (' + tracking.trackingRank + ')'}}</h3>
                    </div>
                    <div class="pos-r">
                        <button routerLink="/tracking/{{tracking.trackingId}}"  type="button" class="mT-nv-50 pos-a r-10 t-2 btn cur-p bdrs-50p p-0 w-3r h-3r"
                                [ngClass]="template.panel.header.btnColor">
                            <i [ngClass]="template.panel.header.btnIcon"></i>
                        </button>
                        <ul class="m-0 p-0 mT-20">
                            <li class="bdB peers ai-c jc-sb fxw-nw">
                                <a class="td-n p-20 peers fxw-nw mR-20 peer-greed c-grey-900" href="javascript:void(0);"
                                   data-toggle="modal" data-target="#calendar-edit">
                                    <div class="peer mR-15">
                                        <i class="fa fa-fw fa-calculator c-green-600"></i>
                                    </div>
                                    <div class="peer">
                                        <span class="fw-600"></span>
                                        <div class="c-grey-600">
                                            {{'Total Tracking :' + (tracking.trackingRank || 'no description .. ')}}
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li class="bdB peers ai-c jc-sb fxw-nw">
                                <a class="td-n p-20 peers fxw-nw mR-20 peer-greed c-grey-900" href="javascript:void(0);"
                                   data-toggle="modal" data-target="#calendar-edit">
                                    <div class="peer mR-15">
                                        <i class="fa fa-fw fa-calculator c-green-500"></i>
                                    </div>
                                    <div class="peer">
                                        <span class="fw-600"></span>
                                        <div class="c-grey-600">
                                            {{'Total Pause :' + (tracking.trackingPaused || 'no description .. ')}}
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="bdB peers ai-c jc-sb fxw-nw">
                                <a class="td-n p-20 peers fxw-nw mR-20 peer-greed c-grey-900" href="javascript:void(0);"
                                   data-toggle="modal" data-target="#calendar-edit">
                                    <div class="peer mR-15">
                                        <i class="fa fa-fw fa-calculator c-green-500"></i>
                                    </div>
                                    <div class="peer">
                                        <span class="fw-600"></span>
                                        <div class="c-grey-600">
                                            {{'Total Key Press :' + (tracking.totalKeyPress || 'no description .. ')}}
                                        </div>
                                    </div>
                                </a>

                            </li>
                            <li class="bdB peers ai-c jc-sb fxw-nw">
                                <a class="td-n p-20 peers fxw-nw mR-20 peer-greed c-grey-900" href="javascript:void(0);"
                                   data-toggle="modal" data-target="#calendar-edit">
                                    <div class="peer mR-15">
                                        <i class="fa fa-fw fa-calculator c-green-500"></i>
                                    </div>
                                    <div class="peer">
                                        <span class="fw-600"></span>
                                        <div class="c-grey-600">
                                            {{'Total Mouse click :' + (tracking.totalMouseClick || 'no description .. ')}}
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
