<main class='main-content bgc-grey-100'>


  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

    <h1 class="h2">ABOUT US</h1>
</div>

 <div class="card" style="border: transparent;">
<br>

<div class="justify-content-between align-items-center">

  <h1 class="h2 " style="text-align:center;">
    Hit your goals faster with time-saving features.</h1>
</div>
<br>
<br>
<br>
<div class="container">
<div class="row">
<div class="col">
  <div>
    <h1 class="h2">Get more done,
      in less time.</h1>
<hr>
  Manage your time more effectively and stay on-track towards your goals
</div>
</div>

<div class="col">
  <div>
    <h1 class="h2"> Screenshots feature </h1>
<hr>
Screenshots of your employees monitors are taken at whatever time interval.
</div>
</div>






<div class="col ">
  <div>
    <h1 class="h3"> Tracking from anywhere you work.


    </h1>


<hr>
   <p> Know exactly where you allocate time with global and manual tracking from your desktop, mobile, or Chrome browser. </p>
</div>
</div>

<div class="col ">
  <div>
    <h1 class="h2"> Schedule your time.


      </h1>
      <hr>
      <p> Start and stop time, jump between tasks, and add details on how time was spent.  </p>
</div>
</div>

</div>
</div>
<br>
<br>
<br>
<br>
 </div>
  </main>
